/* Master css reference file for both host and client */

.btn-huge{
  padding-top:8vh;
  padding-bottom:8vh;
  padding-left: 16vw;
  padding-right: 16vw;

  /*Text in button style: */
  font-size: 8vh;
  font-weight: bold;
}

.btn-big{
  padding-top:5vh;
  padding-bottom:5vh;
  padding-left: 10vw;
  padding-right: 10vw;

  /*Text in button style: */
  font-size: 5vh;
  font-weight: bold;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.logout {
  padding-left: 40px;
  padding-right: 40px;
}

#game {
  display: none;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  background: white;
  z-index: 9999;
  top: 0;
  left: 0;
}